### root ###
# misc
.idea/

# Environments
venv/

### backend ###
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuffs
db.sqlite3

#migration files
back/qc_api/migrations

#csv files for stockdata seeding
back/static

node_modules
