# CI environment
#os: linux
#dist: bionic

matrix:
  include:
    - language: node_js
      node_js: "12"
      addon:
        sonarcloud:
          organization: "swsnu"
          token:
            secure: "FI/uj38C0qQ/GghjRiTGDLMZHIMU6Vs0E8gWOG5yINOnP6btp5V/UoPW1xG8IiU6ptWhpgeGo2lmlq3pJJhoYL07glSfnDuZxrjSkfn/WxKO3pit0255/LBrFBkK6GWkD68IeKDU5gT7UhMf34//CiiwkjCrIPwNPQsnC3/zAHiOqTvzIeU3YwgeEETDSYfM33DRFxpAEOU55my3vTMK8QuO4/zRoVrGKLVp0EBE0oL8ZZa5QSWo4zlmhfoZ8q25D7uZOD+ySFxG/jn/6JNzY8rhDTO04xatpWMrmJPouvspkVA8EpFScYWUAuIAhosEUpZUwErv+A4M2MYWh/M0I5+aw4snKzUe6YBIs/T7HHZLALaryFUjqKIIFkfmNtQjSBp+lE/s0OkYSoi52NQoKwXWMfFDj9Wu9ybQ51HeizZ/DK+IfMzw50NRIrFNMED/wYDssLf+DJVITn2j8JM5Wo3z1i5m4nT5gxR9NZgbHVtdSyZR/cOGpNEITppg+6tEVB4Op/risV2dzxownymFvyuqn26fdSEafs2fWrWBF5rMTH4UVXXEn2/U8eY52MfoLTkLfcc8UbxHU9Zj963z7fo3767djK6/3tfdTfzFiCqIyKZIWrT5v2b0Y6bX3QBCABPEfDyvL3goQq7i5neUxyxGPmn0NqLCU4AROvyJeqM="
      cache:
        - yarn: true
      before_install:
        - cd front
      install:
        - yarn install
      script:
        - ./node_modules/.bin/eslint src/
        - yarn test --coverage --watchAll=false
	    - cd .. && sonar-scanner

    - language: python
      python: "3.7"
      addon:
        sonarcloud:
          organization: "swsnu"
          token:
            secure: "FI/uj38C0qQ/GghjRiTGDLMZHIMU6Vs0E8gWOG5yINOnP6btp5V/UoPW1xG8IiU6ptWhpgeGo2lmlq3pJJhoYL07glSfnDuZxrjSkfn/WxKO3pit0255/LBrFBkK6GWkD68IeKDU5gT7UhMf34//CiiwkjCrIPwNPQsnC3/zAHiOqTvzIeU3YwgeEETDSYfM33DRFxpAEOU55my3vTMK8QuO4/zRoVrGKLVp0EBE0oL8ZZa5QSWo4zlmhfoZ8q25D7uZOD+ySFxG/jn/6JNzY8rhDTO04xatpWMrmJPouvspkVA8EpFScYWUAuIAhosEUpZUwErv+A4M2MYWh/M0I5+aw4snKzUe6YBIs/T7HHZLALaryFUjqKIIFkfmNtQjSBp+lE/s0OkYSoi52NQoKwXWMfFDj9Wu9ybQ51HeizZ/DK+IfMzw50NRIrFNMED/wYDssLf+DJVITn2j8JM5Wo3z1i5m4nT5gxR9NZgbHVtdSyZR/cOGpNEITppg+6tEVB4Op/risV2dzxownymFvyuqn26fdSEafs2fWrWBF5rMTH4UVXXEn2/U8eY52MfoLTkLfcc8UbxHU9Zj963z7fo3767djK6/3tfdTfzFiCqIyKZIWrT5v2b0Y6bX3QBCABPEfDyvL3goQq7i5neUxyxGPmn0NqLCU4AROvyJeqM="
      cache:
        - pip: true
      before_install:
        - cd back
      install:
        - pip install -r requirements.txt
      script:
        - pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml
        - cd .. && sonar_scanner